
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  font-size: 16px;
}

/* Global */

.wrapper {
  width: 70%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #ffffff;
}

/* Navbar */

nav {
  padding: 3%;
}

nav:after {
  content: '';
  display: block;
  clear: both;
}

nav img {
  float: left;
}

nav ul {
  float: right;
  margin-top: 1%;
}

nav ul li {
  float: left;
  list-style-type: none;
  margin-left: 30px;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  color: #000;
}

nav button {
  background: #e65c00;
  border-radius: 5px;
  padding: 7px 16px 7px 16px;
  margin-top: -8%;
  border: 1px solid #e65c00;
}

nav button a {
  color: #ffffff!important;
}

/* Banner */

#banner {
  text-align: center;
  background: #1f1f7a;
  padding-top: 5%;
  padding-bottom: 5%;
}

#banner h1 {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 1%;
  font-size: 2.5rem;
} 

#banner h3 {
  color: yellow;
  margin-bottom: 0.3%;
}

#banner button {
  background: #e65c00;
  border-radius: 5px;
  border: 1px solid #e65c00;
  padding: 15px 40px 15px 40px;
  margin-top: 1%;
}

#banner button a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

/* Main Content */

main h2 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 1%;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
}

main p {
  text-align: center;
  line-height: 1.5;
  font-size: 0.8rem;
}

#image-container {
  background: #cccccc;
  margin-top: 1%;
}

#image-container img {
  float: left;
  width: 9%;
  margin-top: 3%;
}

#image-container li {
  float: left;
  width: 18%;
  list-style-type: none;
  padding: 3%;
}

#image-container li a {
  text-decoration: none;
  font-size: 0.8rem;
}

#image-container li h4 {
  text-align: left;
  margin-bottom: 5%;
}

#image-container li p {
  text-align: left;
  font-size: 0.75rem;
}