
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  font-size: 16px;
}

h2, h3 {
  margin: 0;
  padding-bottom: 2%;
}

.wrapper {
  width: 96%;
  max-width: 1600px;
  padding: 0 2%;
}

.wrapper ul {
  list-style-type: none;
  float: left;
  width: 25%;
  margin: 5% 0;
}

.wrapper:after {
  display: block;
  content: '';
  clear: both;
}

.wrapper h3 {
  text-align: left;
  font-style: italic;
}

.wrapper ul li {
  color: #4d4d4d;
  line-height: 1.6em;
  width: 80%;
}

header {
  padding: 2% 0;
  background: lightcyan;
}

.logo {
  float: left;
  margin-left: 8%;
}

header ul {
  float: right;
  margin-right: 8%;
  margin-top: 1%;
}

header:after {
  content: '';
  display: block;
  clear: both;
}

header li {
  list-style-type: none;
  float: left;
  margin-left: 70px;
}

#main-content {
  background-color: lightsalmon;
  padding: 2% 0;
  line-height: 1.6;
}

#main-content:after {
  content: '';
  display: block;
  clear: both;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-bottom: 1%;
}

.left-side {
  float: left;
  width: 46%;
  padding: 1%;
  margin: 1%;
}

#information {
  background: lightseagreen;
  padding: 2% 0;
  text-align: center;
  line-height: 1.6;
}

.advertInformation p {
  margin-bottom: 1%;
}














